/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Laila', serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
    width: 100%;
    margin: 0 auto;
}

header {
    margin: 0 0 100px 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    background-color: gray;
    z-index: inherit;
}

header nav,
.logo {
    display: inline-block;
    vertical-align: middle;

}


header nav {
    padding: 0 100px 0 0;
    margin: 0;
}

nav a {
    padding: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: black;
    font-weight: bold;
    background: white;

}

.section1 {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: 0 0 100px 0;
}

.section1 div,
.image-1 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
}

.section1 div {
    font-size: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    padding: 10px 40px;
    margin: 0;
    background-color: gray;
    border: 1px black solid;
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.section1 h1 {
    padding: 0;
    margin: 0;
}

.section2 {
    display: inline-block;
    text-align: left;
    max-width: 49%;
    margin: 0 5px 25px 0;
    width: 100%;
    vertical-align: middle;
}

.section3 {
    display: inline-block;
    text-align: left;
    max-width: 31%;
    margin: 25px 0 25px 0;
    width: 100%;
    vertical-align: middle;
}

.middle-img {
    width: 100%;
    padding: 10px;
}

.contact a {
    color: black;
    text-decoration: none;
}

.contact a:hover,
.contact a:active {
    color: blue;
}

footer {
    margin: 35px 0 60px 0;
}

footer p {
    text-align: center;
}
